<% for(var i=0; i<data.length; i++) { %>
    <tr>
      <td>
      <%= data[i]['DESCRIPCION'] %>
      </td>
      <td>
      <div class="checkbox">
        <label>
          <input type="checkbox" class="zona" value="<%= data[i]['ID'] %>">
          <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        </label>
      </div>
      </td>
    </tr>
<% } %>