<% for(var i=0; i<data.length; i++) { %>    
	<label>
    	<p class="list-group-item no_border"><input type="radio" name="optradio" value="<%= data[i]['idresp'] %>"> <%= data[i]['respuesta'] %></p>
  	</label>
  	<br/>
<% } %>