<div class="radio">
<% for(var i=0; i<data.length; i++) { %>    
	<label class="font_check">
	  <input type="radio" name="optradio" value="<%= data[i]['idresp'] %>">
	  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
	  <%= data[i]['respuesta'] %>
  	</label>
  	<br/>
<% } %>
</div>